.puppy_pics {
  width: 75px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fffde7;
}

h1 {
	font-family: "Oleo Script", script;
	font-size: 20pt;
}

#pug-img{
	height: 303px;
	width: 303px;
}

#fixed_bar {
  width: 85.3%;
  position: fixed;
  z-index: 100; //exceed z-index of other elements on the page
  display: none;
  top: 0px;
}